<%= render 'shared/navbar' %>
<br>
<br>
<br>
<div id="background">
  <div class="container">
  <h1>Wich Vice would you look to add?</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, placeholder: 'Add your vice cocktail here' %>
    <%= f.submit 'Save your vice cocktail', class: "btn btn-primary" %>
  <% end %>
  </div>
</div>

<p>test</p>
